*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  padding-top: 75px;
}

.article-card {
    max-width: 550px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 25px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.article-card * {
    pointer-events: none;
}
.article-card a {
    pointer-events: auto;
}
.background-link {
    position: absolute;
    z-index: -1;
    inset: 0;
}
.article-title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #111;
}
.article-content {
    line-height: 1.4;
    margin-bottom: 24px;
}
.tag {
    display: inline-block;
    min-width: 50px;
    color: #111;
    text-align: center;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid #111111c0;
}
.tag.css {
    background-color: violet;
}
.tag.js {
    background-color: yellow;
}